%h2 All Participants_
%h3.divider_medium

%h3 Performers
- for performer in @performers do
  = render :partial => "participant", :locals => {:participant => performer}

%hr
%h3 Artists
- for artist in @artists do
  = render :partial => "participant", :locals => {:participant => artist}

%hr
%h3 Speakers
- for speaker in @speakers do
  = render :partial => "participant", :locals => {:participant => speaker}
