@import "partials/base"
@import "partials/two_col_nal"


// blueprint mixins

+link-icons
+blueprint-typography
+blueprint-scaffolding


// layout
#header
  height: 348px
  background-color: #ffebcd
#container
  +showgrid
#footer
  background-color: #ffebcd


// images
.article_image
  width: 620px
  height: 382px
.thumbnail_image
  width: 300px
  height: 200px



