@import "partials/base"
@import "partials/two_col_nal"


// blueprint mixins

//+link-icons
+blueprint-typography
+blueprint-scaffolding


// colors
$dark_blue = #3d66ac
$sky_blue =  #90b3df

$font-color = #000
$header-color = $dark_blue
$dark_grey = #A7A9AC
$light_grey = #CCC

// dimensions

$content_width = 620px
$content_height = 500px

// HTML

body
  color: $dark_blue
  a
    text-decoration: underline
    +link-colors($dark_blue, $sky_blue, $dark_blue, $dark_blue, $dark_blue)

h1, h2, h3, h4, h5
  +header-text
  text-transform: uppercase

h6
  +header-text


// layout
#header
  //height: 338px
  height: 310px
  background: url("/images/NetAudio_backdrop.png") no-repeat right top
  background-repeat: none
  background-position
  color: $dark_blue
  hr
    background-color: $dark_blue
    height: 3px
    margin-top: 32px

  .menu_base
    +inline-block-list-container
    font-weight: bold
    li
      +inline-block-list-item
      a
        +hover-link
        +link-colors($dark_blue, $sky_blue, $dark_blue, $dark_blue, $dark_blue)

  .menu
    @extend .menu_base
    font-size: 13px
    width: 60%
    float: left
    margin-bottom: 10px
    li
      margin-right: 20px

  .social
    @extend .menu_base
    font-size: 9px
    float: right
    width 35%
    li
      margin-left: 15px

  #sub_menu_wrapper
    clear: both
    float: left
    width: 60%

  .sub_menu
    +inline-block-list-container
    font-weight: bold
    margin-left: 65px
    li
      +inline-block-list-item
      margin-right: 20px
      a
        +hover-link
        +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)

  #logo
    float: left
    clear: both
    margin-top: -81px
    p#date
      font-size: 20px
      font-weight: bold
      margin-bottom: 0px
    p#heading
      font-weight: bold
      font-size: 60px
      margin-bottom: 40px
      line-height: 40px
    a
      +unstyled-link

  #picture
    float: right
    width: 310px
    height: 184px
    background-color: #fff
    //margin-top: 6px

#container
  //+showgrid
#footer
  margin-top: 20px
  hr
    background-color: $dark_blue
    height: 1px

#sidebar
  h6
    font-weight: bold

  #search
    height: 60px


// images
.article_image
  width: 620px
  height: 382px
.thumbnail_image
  width: 300px
  height: 185px

// common
.divider
  background-color: $dark_blue
  height: 10px

.divider_medium
  background-color: $dark_blue
  height: 2px

#content
  .divider
    width: $content_width
  .divider_medium
    width: $content_width
  +min-height($content_height)
  position: relative

// news
.news_item
  height: 360px
  width: 300px
  float: left
  border-bottom: 3px solid $dark_blue
  margin-bottom: 25px
  position: relative

  h3
    a
      +unstyled-link
  .date
    margin-bottom: 0px
    float: right
    +clearfix
  p
    margin-bottom: 5px

  .read_more
    +unstyled-link
    +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)
    position: absolute
    bottom: 0px
    left: 0px



.news_item.even
  margin-left: 20px

.news_item_featured
  border-bottom: 3px solid $dark_blue
  margin-bottom: 25px

  h3
    a
      +unstyled-link

  .read_more
    +unstyled-link
    +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)

    


// festival

.mosaic_block
  //background: url("/javascripts/mosaic/img/progress.gif") no-repeat scroll center center
  border: 1px solid #FFFFFF
  overflow: hidden
  position: relative

.mosaic-backdrop
  display: none
  position: absolute
  top: 0
  height: 300px
  width: 300px
  //background: #111


.mosaic-overlay
  display: none
  z-index: 5
  position: absolute
  width: 300px
  height: 300px
  background: $dark_blue
  +opacity(0.8)
  a
    +unstyled-link
    +link-colors(white, $sky_blue, white, white, white)


.strand .mosaic-overlay
  top: -230px
  height: 300px
  //background: url(/javascripts/mosaic/img/bg-black.png)

.strand .mosaic-overlay:hover
  cursor: hand


.strand
  @extend .mosaic_block
  color: white
  height: 300px
  width: 300px
  float: left
  margin-bottom: 20px

  h3
    position: absolute
    bottom: 0px
    color: white
    margin-left: 5px

  p
    margin: 5px
    color: white

  a
    +unstyled-link
    +link-colors(white, $sky_blue, white, white, white)
  


.strand.even
  margin-left: 20px

// twitter
#twitter
  .tweet
    clear: both
    border-bottom: 1px solid $dark_blue
    font-size: 11px
    font-weight: bold
    color: $dark_grey
    padding-top: 15px
    padding-bottom: 10px
    margin-bottom: 10px
    p
      margin-bottom: 5px
    a
      +hover-link
      +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)
    .source
      color: #ccc
      a
        +link-colors($light_grey, $sky_blue, $light_grey, $light_grey, $light_grey)

#twitter
  .divider
    margin-bottom: 5px
  .follow
    vertical-align: super
    margin-top: 3px
    margin-right: 10px
    color: $dark_grey
    font-weight: bold
  h6
    +float-left
    width: 40%
    margin-top: 8px
  #logo
    +float-right
    img
      width: 30px
      height: 30px

#lastfm
  .track
    clear: both
    border-bottom: 1px solid $dark_blue
    font-size: 11px
    font-weight: bold
    color: $dark_grey
    padding-top: 12px
    padding-bottom: 7px
    p
      margin-bottom: 5px
    a
      +hover-link
      +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)
    .source
      color: #ccc
      a
        +link-colors($light_grey, $sky_blue, $light_grey, $light_grey, $light_grey)

#lastfm
  .divider_medium
    margin-bottom: 5px
  .follow
    vertical-align: super
    margin-top: 3px
    margin-right: 10px
    color: $dark_grey
    font-weight: bold
  h6
    +float-left
    width: 40%
    margin-top: 8px
  #logo
    +float-right
    img
      width: 30px
      height: 30px

#related_events
  .divider_medium
    margin-bottom: 5px

.tags
  margin-bottom: 10px
  border-top: $dark_blue 2px solid

  a
    +unstyled-link
    +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)
    font-weight: bold
  h6
    margin-bottom: 15px
    
    

.pagination
  clear: both
  color: $dark_blue
  a
    +unstyled-link
    +link-colors($dark_grey, $sky_blue, $dark_grey, $dark_grey, $dark_grey)

  .previous_page
    color: $dark_grey

  //background: white
  //font-size: 12px
  //position: absolute
  //bottom: -10px
  //left: 0px
  //a, span, em
  //  :padding .0em .3em
  //  :display block
  //  :float left
  //  :margin-right 1px
  //span.disabled
  //  :color #999
  //  :border 1px solid #DDD
  //em
  //  :font-weight bold
  //  :background $dark_blue
  //  :color white
  //  :border 1px solid $dark_blue
  //a
  //  :text-decoration none
  //  :color #105CB6
  //  :border 1px solid $sky_blue
  //  &:hover, &:focus
  //    :color #003
  //    :border-color #003
  //.page_info
  //  :background $dark_blue
  //  :color white
  //  :padding .4em .6em
  //  :width 22em
  //  :margin-bottom .3em
  //  :text-align center
  //  b
  //    :color #003
  //    :background = $dark_blue + 60
  //    :padding .1em .25em
  //
  ///* self-clearing method:
  //&:after
  //  :content "."
  //  :display block
  //  :height 0
  //  :clear both
  //  :visibility hidden
  //* html &
  //  :height 1%
  //*:first-child+html &
  //  :overflow hidden
