@import "partials/base"
@import "partials/two_col_nal"


// blueprint mixins

+link-icons
+blueprint-typography
+blueprint-scaffolding


// layout
#header
  height: 348px
  background-color: #ffebcd
#container
  +showgrid
#footer
  background-color: #ffebcd
  



