%h3= "Privacy statements"

%p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue, urna ac iaculis porta,         |
     lorem lacus eleifend lectus, eu rutrum dui dui eget nulla. Quisque ornare lectus ut nibh bibendum quis       |
     molestie sapien pulvinar. In hac habitasse platea dictumst. Quisque tristique velit nec massa porttitor      |
     varius. Nunc et lacus vitae dolor interdum vehicula rutrum at velit. Donec vitae justo nibh. Nam suscipit    |
     tortor eu orci viverra ac ullamcorper ipsum tincidunt. Praesent augue risus, vestibulum ultricies molestie   |
     at, bibendum a nibh. Fusce malesuada nulla non orci commodo at mattis risus pharetra. Curabitur pretium      |
     venenatis leo non molestie. Nulla ut neque metus. Curabitur placerat dolor ac tellus luctus sit amet mollis  |
     velit blandit. Morbi congue suscipit libero, ac ornare erat consectetur in. Pellentesque lacinia placerat    |
     facilisis. Etiam eu turpis sit amet est condimentum varius. Integer ac odio urna. In dapibus vestibulum      |
     justo non ultricies. Donec vitae erat sem. Phasellus faucibus euismod leo rutrum tempor."                    |