%h2= "#{@page.name}_"
%h3.divider_medium

- article_image @page, :hover_flag => true, :link_flag =>false

:preserve
  #{highlight(@page.content, params[:query], :highlighter => '<span class=highlight>\1</span>')}
