- if !@news_item.blank?
  %h2= @news_item.headline
  %h3.divider_medium
    
  - article_image @news_item, :hover_flag => true, :link_flag =>false

  %p= formatted @news_item.created_at

  :preserve
  #{highlight(@news_item.content, params[:query], :highlighter => '<span class=highlight>\1</span>')}
- else
  %p Sorry, we were unable to find that news item. Please try searching instead.