- if !@news_item.blank?
  %h2= @news_item.headline
  %h3.divider_medium
    
  - article_image @news_item

  %p= formatted @news_item.created_at

  :preserve
    #{@news_item.content}
- else
  %p Sorry, we were unable to find that news item. Please try searching instead.