#search
  %form#search_form{:action => "/search", :name => "searchform"}
    %div
      %img#search_symbol{:alt => "search_symbol", :src =>"/images/search_symbol.png"}
      %input#query{:name => "query", :type => "text", :value =>"Search...", :onfocus => "value=''", :onblur => "value='Search...'"}
%hr.divider_medium
